@import "https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css";

#videoPlayer{
--playerBg: 0,0,0;
--controlsHeight: 45px;
--playerColor: 225,225,225;
background: rgba(var(--playerBg),1);
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
aspect-ratio: 16/9;
margin: 0 auto;
position: relative; 
border: 1px solid rgba(var(--playerColor),1);
border-radius: 10px;
}
#videoPlayer #unmuteBtn{
background: rgba(var(--playerColor),1);
color: rgba(var(--playerBg),1);
position: absolute;
top: 10px;
left: 0;
padding: 7px 12px;
border-radius: 0 4px 4px 0;
border: 3px double rgba(var(--playerBg),1);
border-left: none;
font-size: 15px;
font-weight: 400;
display: flex;
align-items: center;
z-index: 2;
}
#videoPlayer #unmuteBtn i{
margin-right: 8px;
font-size: 24px;
}
#videoPlayer .player-container{
width: 100%;
/* height: calc(100% - var(--controlsHeight)); */
aspect-ratio: 16/9;
overflow: hidden;
position: relative;
overflow: hidden;
border-radius: 10px;
}
#videoPlayer .player-container iframe{
width: 300%;
height: 100%;
margin-left: -100%;
border: none;
}
#videoPlayer .player-container span{
width: 100%;
height: 100%;
background: rgba(var(--playerBg),1);
position: absolute;
z-index: 3;
pointer-events: none;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
}
#videoPlayer .player-container span i{
font-size: 25px;
background: rgba(var(--playerColor),1);
color: rgba(var(--playerBg),1);
padding: 14px;
border-radius: 100%;
}
#videoPlayer .player-loading{
background: transparent !important;
border: 5px solid rgba(var(--playerColor),1) !important;
border-bottom: 5px solid transparent !important;
animation: spin 1s linear infinite;
}
@keyframes spin{
0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}
#videoPlayer .controls{
width: 100%;
height: var(--controlsHeight);
background: rgba(var(--playerBg),1);
color: rgba(var(--playerColor),1);
padding: 0 10px;
display: flex;
margin-top: calc(0px - var(--controlsHeight));
align-items: center;
border-radius: 0 0 10px 10px;
pointer-events: none;
}
.controls-open .controls{
pointer-events: auto !important;
margin-top: auto !important;
margin-bottom: 0 !important;
transition: all 0.3s ease-in-out;
}
.controls-open .player-container{
border-radius: 10px 10px 0 0;
margin: auto;
}
#videoPlayer .controls button{
margin-right: 8px;
background: transparent;
color: rgba(var(--playerColor),1);
font-size: 25px;
border: 0;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
#videoPlayer .controls #settingsBtn, #videoPlayer .controls #fsBtn{
font-size: 22px;
}
#videoPlayer .controls #fsBtn{
margin-right: 0;
}
#videoPlayer .controls #timeSlider{
--thumbHeight: 20px;
background: rgba(var(--playerColor),1);
width: 100%;
margin-right: 5px;
border-radius: 0.5rem;
display: flex;
align-items: center;
position: relative;
}
#videoPlayer .controls #timeSlider span{
height: 100%;
background: rgba(var(--playerColor),1);
filter: invert(35%);
width: 0;
max-width: 100%;
position: absolute;
z-index: 1;
pointer-events: none;
border-radius: 0.5rem;
}
/* Chrome */
#videoPlayer .controls #timeSlider input{
width: 100%;
-webkit-appearance: none;
appearance: none;
background: transparent; 
cursor: pointer;
border-radius: 0.5rem;
outline: 1px solid rgba(var(--playerColor),1);
position: relative;
z-index: 2;
}
#videoPlayer .controls #timeSlider input:focus{
outline: none;
}
#videoPlayer .controls #timeSlider input::-webkit-slider-runnable-track{
background: transparent;
height: calc(var(--thumbHeight)/3);
}
#videoPlayer .controls #timeSlider input::-webkit-slider-thumb{
-webkit-appearance: none;
appearance: none;
margin-top: calc(0px - (var(--thumbHeight)/3));
background-color: rgba(var(--playerBg),1);
height: calc(var(--thumbHeight));
width: calc(var(--thumbHeight));
border-radius: 100%;
border: 2px solid rgba(var(--playerColor),1);
position: relative;
z-index: 2;
}
/* Firefox */
#videoPlayer .controls #timeSlider input::-moz-range-track {
background: transparent;
height: calc(var(--thumbHeight)/3);
}
#videoPlayer .controls #timeSlider input::-moz-range-thumb{
margin-top: calc(0px - (var(--thumbHeight)/3));
background-color: rgba(var(--playerBg),1);
height: calc(var(--thumbHeight));
width: calc(var(--thumbHeight));
border-radius: 100%;
border: 2px solid rgba(var(--playerColor),1);
position: relative;
z-index: 2;
}

#videoPlayer .controls #playerTimer p{
font-size: 12px;
margin-right: 10px;
}
#videoPlayer #settings{
width: 40%;
max-width: 200px;
display: none;
background: rgba(var(--playerColor),1);
position: absolute;
bottom: calc(var(--controlsHeight) - 5px);
right: 2.5rem;
z-index: 4;
color: #000;
padding: 6px;
border-radius: 0.5rem;
}
#videoPlayer #settings p{
font-size: 15px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 8px 5px;
}
#videoPlayer #settings p b{
margin: 0 0 0 auto;
font-style: normal;
align-self: flex-end;
font-size: 14px;
font-weight: 400;
opacity: 0.7;
}
#videoPlayer #settings p i{
opacity: 0.6;
}
#videoPlayer #settings span{
display: block;
max-height: 0px;
overflow: hidden;
transition-timing-function: ease-out;
display: flex;
flex-direction: column;
}
#videoPlayer #settings span label{
width: 100%;
padding: 0 5px;
margin: 2px 0 6px 0;
font-size: 14px;
display: flex;
align-items: center;
opacity: 0.7;
}
#videoPlayer #settings span label input{
-webkit-appearance: none;
appearance: none
background: transparent;
box-shadow: inset 0 0 10px rgba(var(--playerBg),0.3);
margin: 0;
width: 15px;
height: 15px;
border-radius: 100%;
margin-right: 6px;
}
#videoPlayer #settings span label input:checked{
border: 5px solid rgba(var(--playerBg),1);
box-shadow: none;
}
